.new-product-wrapper {
  border: 1px solid black;
  padding: 15px;
  width: 750px;
  margin: auto;
}

.row {
  padding-top: 15px;
}

.row.centralize {
  margin-left: 30%;
  margin-right: auto;
}

.product-image {
  width: 100px;
  height: 100px;
  border: 1px solid #BDBDBD;
  display: inline-flex;

  img {
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    border: 1px black;
  }
}

.image-upload {
  width: 30%;
}

.field {
  padding: 10px;
  input { width: 400px; }
  textarea {
    width: 400px;
    max-width: 400px;
  }
}
