.footer-wrapper
  .container
    .row
      .left
        .row.inline
          .icon-social.linkedin
          .icon-social.github
          .icon-social.facebook
          .icon-social.google
          .icon-social.twitter
          .icon-social.instagram
          .icon-social.youtube
          .separator or
          .icon-social.email-me
      .right
        Duc Phan, Developer
        %br/
        Copyright ©2014
        =link_to 'RubiCubes, Inc.', 'http://rubicubes.com', target: '_blank'
