h1 {
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
  color: #c94d00;
}

.vertical-mid {
  vertical-align: middle !important;
}

.centralize {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

.note {
  font-style: italic;
  font-size: 11px;
}

.short {
  width: 50%;
  margin-left: 0;
}

#footer {
  background-color: #1E1E1E;
  font-size: 14px;
  position:absolute;
  bottom:0;
  width: 100%;
}

.footer-wrapper {
  color: #bfbfbf;
  padding: 15px 20px 15px 20px;

  a {
    color: #afcecc;
  }

  .separator {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 10px;
  }
}

.left  { float: left;  }
.right { float: right; }
