/* Social Icons */
%icon-social {
  background: url('sprites/social.png') no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.addthis{
  @extend %icon-social;
  background-position: -50px -175px ;
  &:hover { background-position: -100px -75px ; }
}

.amazon{
  @extend %icon-social;
  background-position: -25px -175px ;
  &:hover{ background-position: 0 -175px ; }
}

.creativecommon{
  @extend %icon-social;
  background-position: -125px -150px ;
  &:hover{ background-position: -100px -150px ; }
}

.dropbox{
  @extend %icon-social;
  background-position: -75px -150px ;
  &:hover{ background-position: -50px -150px ; }
}

.email-me{
  @extend %icon-social;
  background-position: -25px -150px ;
  &:hover{ background-position: 0 -150px ; }
}

.facebook{
  @extend %icon-social;
  background-position: -125px -125px ;
  &:hover{ background-position: -100px -125px ; }
}

.flickr{
  @extend %icon-social;
  background-position: -75px -125px ;
  &:hover{ background-position: -50px -125px ; }
}

.github{
  @extend %icon-social;
  background-position: -25px -125px ;
  &:hover{ background-position: 0 -125px ; }
}

.google{
  @extend %icon-social;
  background-position: -125px -100px ;
  &:hover{ background-position: -100px -100px ; }
}

.grooveshark{
  @extend %icon-social;
  background-position: -75px -100px ;
  &:hover{ background-position: -50px -100px ; }
}

.instagram{
  @extend %icon-social;
  background-position: -25px -100px ;
  &:hover{ background-position: 0 -100px ; }
}

.kickstarter{
  @extend %icon-social;
  background-position: -125px -75px ;
  &:hover{ background-position: -75px -175px ; }
}

.lastfm{
  @extend %icon-social;
  background-position: -75px -75px ;
  &:hover{ background-position: -50px -75px ; }
}

.linkedin{
  @extend %icon-social;
  background-position: -25px -75px ;
  &:hover{ background-position: 0 -75px ; }
}

.pinterest{
  @extend %icon-social;
  background-position: -125px -50px ;
  &:hover{ background-position: -100px -50px ; }
}

.quora{
  @extend %icon-social;
  background-position: -75px -50px ;
  &:hover{ background-position: -50px -50px ; }
}

.reddit{
  @extend %icon-social;
  background-position: -25px -50px ;
  &:hover{ background-position: 0 -50px ; }
}

.rss{
  @extend %icon-social;
  background-position: -125px -25px ;
  &:hover{ background-position: -100px -25px ; }
}

.skype{
  @extend %icon-social;
  background-position: -75px -25px ;
  &:hover{ background-position: -50px -25px ; }
}

.spotify{
  @extend %icon-social;
  background-position: -25px -25px ;
  &:hover{ background-position: 0 -25px ; }
}

.twitter{
  @extend %icon-social;
  background-position: -125px 0;
  &:hover{ background-position: -100px 0; }
}

.vimeo{
  @extend %icon-social;
  background-position: -75px 0;
  &:hover{ background-position: -50px 0; }
}

.youtube{
  @extend %icon-social;
  background-position: -25px 0;
  &:hover{ background-position: 0 0; }
}


/* Language Icons */
%icon-language {
  background: url('sprites/languages.png') no-repeat;
  display: inline-block;
  height: 20px;
  margin-left: 5px;
}

.android{
  @extend %icon-language;
  background-position: 0 -84px ;
  width: 16px;
}

.coffeescript{
  @extend %icon-language;
  background-position: 0 -42px ;
  width: 25px;
}

.css3{
  @extend %icon-language;
  background-position: -48px -84px ;
  width: 14px;
}

.html5-only{
  @extend %icon-language;
  background-position: -21px -63px ;
  width: 18px;
}

.html5{
  @extend %icon-language;
  background-position: -33px -84px ;
  width: 14px;
}

.java{
  @extend %icon-language;
  background-position: -17px -84px ;
  width: 15px;
}

.jquery{
  @extend %icon-language;
  background-position: 0 0;
  width: 81px;
}

.js-only{
  @extend %icon-language;
  background-position: -40px -63px ;
  width: 18px;
}

.js{
  @extend %icon-language;
  background-position: -63px -84px ;
  width: 14px;
}

.mysql{
  @extend %icon-language;
  background-position: 0 -21px ;
  width: 39px;
}

.php{
  @extend %icon-language;
  background-position: -40px -21px ;
  width: 38px;
}

.postgresql{
  @extend %icon-language;
  background-position: 0 -63px ;
  width: 20px;
}

.python{
  @extend %icon-language;
  background-position: -47px -42px ;
  width: 20px;
}

.rails{
  @extend %icon-language;
  background-position: -59px -63px ;
  width: 16px;
}

.ruby{
  @extend %icon-language;
  background-position: -26px -42px ;
  width: 20px;
}

.scala{
  @extend %icon-language;
  background-position: 0 -105px ;
  width: 12px;
}

