@media only screen and (min-width: 769px) {
  .main-nav {
    width: 100%;
    background-color: #1E1E1E;
    margin-top: 1px;
    height: 50px;

    ul {
      display: block;
      list-style-type: none ;
      padding: 0;
    }

    li {
      float: right;
      width: 85px;
      height: 50px;
      text-align: center;
      padding: 0px;
      white-space: nowrap;
      cursor: pointer;
      vertical-align: middle;

      a {
        color: #ededed;
        font-size: 14px;
        position: relative;
        top: 30%;
        text-decoration: none;
      }
    }

    li:hover { background-color: orange; }
  }
}
