%h1 Review list
%hr

%ol
  %li
    = link_to 'Eager loading association' , 'http://guides.rubyonrails.org/active_record_querying.html#eager-loading-associations'
  %li
    = link_to 'Strong parameters', 'http://edgeguides.rubyonrails.org/action_controller_overview.html#strong-parameters'
  %li
    = link_to 'Configurations change when upgrading Rails 3 to 4', 'http://dev.mensfeld.pl/2013/06/upgrading-to-rails-4-0-from-rails-3-2-test-case-part-i-preparations-configuration-gems/'
  %li
    = link_to 'Bootstrap', 'http://getbootstrap.com/getting-started/'
